.container {
  // display: flex | inline-flex;

  // flex-direction: row | row-reverse | column | column-reverse;
  // flex-wrap: nowrap | wrap | wrap-reverse;
  // This is a shorthand for the flex-direction and flex-wrap properties
  // flex-flow: row nowrap;

  // justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
  // align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;
  // align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;
}
.item {
  // order: 0;

  // flex-grow: 0;
  // flex-shrink: 1;
  // flex-basis: auto;
  // This is the shorthand for flex-grow, flex-shrink and flex-basis combined.
  // flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]

  // align-self: auto | flex-start | flex-end | center | baseline | stretch;
}

.self-section {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
