<h1>Slot</h1>
<div>
  <div>Slot Main</div>
  <div>
    <button type="button" (click)="onClickSetSlotForm()">Set Slot Form</button>
    <button type="button" (click)="onClickGetSlotForm()">Get Slot Form</button>
    <button type="button" (click)="onClickOpenComponentPortal()">Open Component Portal</button>
    <button type="button" (click)="onClickOpenTemplatePortal()">Open Template Portal</button>

  </div>
  <div>Slot Form</div>
  <div>
    <app-slot-form #viewChildSlotForm>
      <ng-template #contentChildButton>
        <button type="button" (click)="onClickButton()">Main Button</button>
      </ng-template>
      <ng-template #contentChildForm>
        <app-slot-form></app-slot-form>
      </ng-template>
    </app-slot-form>
  </div>
</div>

<ng-template #templateRef>
  <section class="self-section">
    <h3>This is TemplatePortal</h3>
    <button type="button" (click)="onClickCloseTemplatePortal()">Close</button>
  </section>
</ng-template>
