.self-section {
  background: white;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
.self-title {
  color: red;
}
.self-message {
  max-height: 4rem;
  background: #eee;
  border-radius: 3px;
  padding: 3px;
  text-align: left;
  font-family: monospace;
  word-break: break-all;
  overflow: auto;
}
.self-stack {
  max-height: 8.4rem;
  background: #eee;
  border-radius: 3px;
  padding: 3px;
  text-align: left;
  font-family: monospace;
  word-break: break-all;
  overflow: auto;
}
.self-button {
  height: 30px;
  background: #ffffff;
  border-radius: 3px;
  padding: 5 10px;
  font-family: monospace;
  border: 1px solid currentColor;
  cursor: pointer;
}
.self-button:hover {
  background: #eee;
}
