<p class="import-assets-css test-scss">test01 works!</p>
<div class="container">
  <div class="row form-group">
    <div class="col">
      <p>{{test01Model.Count}}</p>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <input type="text" [(ngModel)]="test01FormModel.Name" (change)="onChangeFormName($event)" />
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="test01FormModel.Age" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <button (click)="plus()">+</button>
    </div>
    <div class="col">
      <button (click)="minus()">-</button>
    </div>
    <div class="col">
      <button (click)="go()">Go</button>
    </div>
  </div>
</div>
