/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import url(assets/css/default.css);

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin: 0px 10px;
}
