<p class="import-assets-css test-scss">test00 works!</p>
<label>NumberFormatPipe:{{ '123456789' | numberFormat }}</label>
<div class="container">
  <div class="row">
    <div class="col-8 bd-example">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickGetValueByValue()">Get Value By Value</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickPostValueByValue()">Post Value By Value</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickGetValueByModel()">Get Value By Model</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickPostValueByModel()">Get Value By Model</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8 bd-example">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickSignIn()">Sign In</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickRefresh()">Refresh</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickSignOut()">Sign Out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8 bd-example">
      {{rowString}}
      <br>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickQuery()">Query</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickInsert()">Insert</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickUpdate()">Update</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickDelete()">Delete</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickQueryGrid()">Quey Grid</button>
    </div>
  </div>
  <div class="row">
    <div class="col-8 bd-example">
      <input type="file" multiple (change)="onChangeFile($event)" />
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickUpload()">Upload</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickUploads()">Uploads</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickGetDownload()">Get Download</button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickPostDownload()">Post Download</button>
    </div>
  </div>
</div>
